@charset "UTF-8";
body{
    margin: 0;
}
#superior{
    background-color: #3A5A97;
    color: white;
    margin: auto;
    height: 100px;
}
form#loginum{
    position: absolute;
    left: 700px;
    top: 10px;
}
#parte_login, #parte_senha, input[type=submit]{
    position: absolute;
    top: 10px;
}
#parte_senha{
    margin-left: 200px;
}
input[type=text], input[type=password]{
    margin-bottom: 8px;
}
input[type=submit]{
    margin: 5px 10px 9px 12px;
    padding: 4px;
    width: 50px;
    background-color: #5d7ab1;
    color: white;
    height: 25px;
}
form a{
    color: white;
    text-decoration: none;
}
form a:hover{
    text-decoration: underline;
}
#superior img{
    margin-left: 150px;
    margin-top: 43px;
}
/*Parte seção 2*/
section#txteimg, #txteimg article{
    margin:0;
    width: 450px;
    
}
#txteimg p{
    width: 450px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-left: 165px;
    font-weight: bolder;
    margin-top: 60px;
    line-height: 30px;
    color: #0c2e6e;
}
#cadastro{
    float: right;
    width: 660px;
    margin-top: -130px;
    margin-right: -90px;
}
